/*@import "bootstrap";


@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';


$font-stack:    Helvetica, sans-serif;
$primary-color: #0575A2;
$size:15px;

h1 {
  font: 50% $font-stack;
  color: $primary-color;
  font-size:$size;
}*/